body {
    background-color: #161c47;
    margin: auto;
}

h1 {
    margin: auto;
    color: white;
    text-align: center;
}

#calculator-container button {
    width: 23%;
    height: 75px;
    margin: auto;
    font-size: 32px;
}

#calculator-container .function-btn {
    background-color: #c49752;
    border-color: black;
    color: white;
}

#calculator-container .number-btn {
    background-color: #0a2b16;
    color: white;
}

#calculator-container {
    margin: auto;
    border-color: gray;
    border-style: solid;
    border-width: 5px;
    height: 500px;
    width: 400px;
    align-items: center;
    text-align: center;
}

div.input-field {
    width: 398px;
    height: 100px;
    text-align: right;
    color: white;
    font-size: 50px;
    border-style: solid;
}

#calculator-container #calc-btns {
    margin: auto;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    padding-top: 10px;
}